{% extends 'layout.html' %}

{% block title %}
  {{appTitle}}
{% endblock %}

{% block pageTitle %}
  Valitse käyttäjä
{% endblock %}

{% block navi %}
  <ul class="nav navbar-nav">
    <li><a href="/vote">Äänestys</a></li>
    <li><a href="/results">Tulosseuranta</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li class="active"><a href="/">Valitse käyttäjä</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="content-container login" ng-controller="LoginController as loginCtrl">

    <div class="logged-in" ng-class="loginCtrl.loggedIn ? 'show' : 'hide'">
      <!--
          Logged user displayed when user is logged in
      -->
      <div class="current-user user-logged">
        <p>Valittu käyttäjä: <span id="user-name">{{user.name}}</span></p>
        <div class="logout-container">
          <button type="button" class="btn btn-default btn-sm">Vaihda käyttäjää</button>
        </div>

        <div class="direction-container">
          <a href="/vote">Äänestykseen <span class="glyphicon glyphicon-arrow-right"></span></a>
        </div>
      </div>
    </div>

    <div class="logged-out" ng-class="loginCtrl.loggedIn ? 'hide' : 'show'">

      <!--
          Info is displayed if user has not logged in.
          Text is printed differently depending on the amount of users found
      -->
      <div class="info-user">
        <p>Luo uusi käyttäjä</p>
      </div>

      <!--
          Create box is displayed if user is not logged in
      -->
      <div class="create-user">
        <div class="row align-center">
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-user"></span>
              </span>
              <input ng-model="loginCtrl.newName" type="text" class="form-control" placeholder="Nimimerkki">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="loginCtrl.createUser()">
                  <span class="glyphicon glyphicon-log-in"></span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <!--
          Registered users box is displayed if user is not logged in
      -->
      <div class="select-user hide">

        <p class="title">
          Löytyneet profiilit:
        </p>

        <div class="row">
          <div class="col-xs-9">
            <span class="glyphicon glyphicon-user"></span>
            <p class="name">Käyttäjä 1</p>
          </div>
          <div class="col-xs-3 select-btn-container">
            <button class="btn btn-default btn-sm" type="button" ng-click="loginCtrl.setUser(123)">
              <span class="glyphicon glyphicon-log-in"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <span class="glyphicon glyphicon-user"></span>
            <p class="name">Käyttäjä 2</p>
          </div>
          <div class="col-xs-3 select-btn-container">
            <button class="btn btn-default btn-sm" type="button">
              <span class="glyphicon glyphicon-log-in"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <span class="glyphicon glyphicon-user"></span>
            <p class="name">Käyttäjä 3</p>
          </div>
          <div class="col-xs-3 select-btn-container">
            <button class="btn btn-default btn-sm" type="button">
              <span class="glyphicon glyphicon-log-in"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <span class="glyphicon glyphicon-user"></span>
            <p class="name">Käyttäjä 4</p>
          </div>
          <div class="col-xs-3 select-btn-container">
            <button class="btn btn-default btn-sm" type="button">
              <span class="glyphicon glyphicon-log-in"></span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-9">
            <span class="glyphicon glyphicon-user"></span>
            <p class="name">Käyttäjä 5</p>
          </div>
          <div class="col-xs-3 select-btn-container">
            <button class="btn btn-default btn-sm" type="button">
              <span class="glyphicon glyphicon-log-in"></span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}