<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>
    {% block title %}

      TITLE PLACEHOLDER

    {% endblock %}
  </title>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/animations.css">
  <link rel="stylesheet" href="css/grayscale.css">
  <link rel="stylesheet" href="css/famfamfam-flags.css">

  <link rel="stylesheet" href="css/component.css">
  <link rel="stylesheet" href="css/fxsmall.css">
  <link rel="stylesheet" href="css/normalize.css">

  <link rel="stylesheet" href="css/style.css">

  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400italic,700italic,800italic,400,800,700:latin' ] }
    };

    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>

</head>
<body ng-app="EurovisionApp">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          {% block pageTitle %} {% endblock %}
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        {% block navi %} {% endblock %}
      </div>
    </div>
  </nav>

  {% block content %}

    CONTENT PLACEHOLDER

  {% endblock %}

  <script type="text/javascript" src="js/lib/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/lib/angular.min.js"></script>
  <script type="text/javascript" src="js/lib/angular-route.js"></script>
  <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>

  <script type="text/javascript" src="js/lib/modernizr.custom.js"></script>
  <script type="text/javascript" src="js/lib/classie.js"></script>

  <script type="text/javascript" src="js/main.js"></script>

</body>
</html>