{% extends 'layout.html' %}

{% block title %}
  {{appTitle}}
{% endblock %}

{% block pageTitle %}
  Tulosseuranta
{% endblock %}

{% block navi %}
  <ul class="nav navbar-nav">
    <li><a href="/vote">Äänestys</a></li>
    <li class="active"><a href="/results">Tulosseuranta</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Valitse käyttäjä</a></li>
  </ul>
{% endblock %}

{% block content %}
  <div class="content-container results">

    <!-- BEGIN REPEAT -->
    <div class="row place-1">
      <div class="col-xs-1 align-left">
        <p class="place">1</p>
      </div>
      <div class="col-xs-9">
        <p>
          <span class="flag">
            <img src="http://www.eurovision.tv/img/upload/flags/mini/Finland.png">
          </span>Finland
        </p>
        <p id="artist-song-name">
          Softengine - Something Better
        </p>
      </div>
      <div class="col-xs-1">
        <p class="number-of-votes">
          221
        </p>
      </div>
    </div><!-- END REPEAT -->


    <div class="row place-2">
      <div class="col-xs-1 align-left">
        <p class="place">2</p>
      </div>
      <div class="col-xs-9">
        <p>
          <span class="flag">
            <img src="http://www.eurovision.tv/img/upload/flags/mini/Spain.png">
          </span>Spain
        </p>
        <p id="artist-song-name">
          Ruth Lorenzo - Dancing in the rain
        </p>
      </div>
      <div class="col-xs-1">
        <p class="number-of-votes">
          120
        </p>
      </div>
    </div>

    <div class="row place-3">
      <div class="col-xs-1 align-left">
        <p class="place">3</p>
      </div>
      <div class="col-xs-9">
        <p>
          <span class="flag">
            <img src="http://www.eurovision.tv/img/upload/flags/mini/Netherlands.png">
          </span>The Netherlands
        </p>
        <p id="artist-song-name">
          The Common Linnets - Calmn After The Strom
        </p>
      </div>
      <div class="col-xs-1">
        <p class="number-of-votes">
          87
        </p>
      </div>
    </div>

    <div class="row place-4">
      <div class="col-xs-1 align-left">
        <p class="place">4</p>
      </div>
      <div class="col-xs-9">
        <p>
          <span class="flag">
            <img src="http://www.eurovision.tv/img/upload/flags/mini/Russia.png">
          </span>Russia
        </p>
        <p id="artist-song-name">
          Tolmachevy Sisters - Shine
        </p>
      </div>
      <div class="col-xs-1">
        <p class="number-of-votes">
          99
        </p>
      </div>
    </div>

  </div>
{% endblock %}