{% extends 'layout.html' %}

{% block title %}
  {{appTitle}}
{% endblock %}

{% block pageTitle %}
  Äänestys
{% endblock %}

{% block navi %}
  <ul class="nav navbar-nav">
    <li class="active"><a href="/vote">Äänestys</a></li>
    <li><a href="/results">Tulosseuranta</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Valitse käyttäjä</a></li>
  </ul>
{% endblock %}

{% block content %}
<div id="vote-content" class="content-container fxCoverflow" ng-controller="VoteController as voteCtrl">

  <div class="country-controls text-center">

    <div class="btn-group" id="contestant-navi">
      <button id="prev" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle"
          data-toggle="dropdown">
          Valitse maa
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">

        {% for contestant in contestants %}
          <li>
            <a href="#">
            <span class="number">{{contestant.order}}</span>
            <span class="flag"><i class="famfamfam-flag-{{contestant.code}}"></i></span>
            <span class="country">{{contestant.country}}</span>
            <span class="artist-song">
              {{contestant.song.artist}} - {{contestant.song.name}}
            </span>
            </a>
          </li>
        {% endfor %}

        </ul>
      </div>

      <button id="next" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>

  <div id="component" class="component component-small fxCoverflow">
    <ul class="country-wrap">

    {% for cont in contestants %}
      <li {% if loop.index == 1 %} class="current" {% endif %}>
        <div class="info row">
          <div class="info-left col-xs-1">
            <p>#{{cont.order}}</p>
          </div>
          <div class="info-right col-xs-10">
            <p>
              <span>
                <i class="famfamfam-flag-{{cont.code}}"></i>
              </span> {{cont.country}}
            </p>
            <p id="artist-name">
              {{cont.song.artist}}
            </p>
            <p id="song-name">
              {{cont.song.name}}
            </p>
          </div>
        </div>

        <div class="vote-controls text-center">
          <p id="vote-number">
            <span id="vote">
              <input type="number" pattern="[1-12]" min="1" max="12">
            </span>
          </p>
        </div>
      </li>
    {% endfor %}

    </ul>

  </div>

</div>
{% endblock %}