#side-nav-btn.slide-out {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: #eae3c9;
  left: 165px;
}

#side-nav-btn.slide-out > span {
  display: block;
}

#side-nav-btn.slide-in {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #eae3c9 url(../img/ui/side_nav.png) 50% 0 no-repeat;
  left: 0 !important;
}

#side-nav-btn.slide-in > span {
  display: none;
}

.side-nav.slide-out {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  left: 0 !important;
}

.side-nav.slide-in {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  left: -170 !important;
}

.fade-in-screen {
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -ms-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0.8 !important;
}

.fade-out-screen {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0 !important;
}

div#frame1,
div#frame2,
div#frame3,
div#frame4,
div#frame5,
div#frame6 {
  -webkit-transform:translate(-9999px, -9999px);
  opacity: 0;
}


.fade-in {
  -webkit-animation: frameFadeIn 1.5s 1 linear;
  -webkit-animation-fill-mode: forwards;
}

.fade-out {
  -webkit-animation: frameFadeOut 0.5s 1 linear;
  -webkit-animation-fill-mode: forwards;
}

#bgScreen {
  opacity: 0;
}

@-webkit-keyframes frameFadeIn {
    0% {
        -webkit-transform:translate(0);
        opacity: 0;
    }

    100% {
        -webkit-transform:translate(0);
        opacity: 1;
    }
}

@-webkit-keyframes frameFadeOut {
    0% {
      -webkit-transform:translate(0);
      opacity: 1;
    }

    99% {
      -webkit-transform:translate(0);
      opacity: 0.01;
    }

    100% {
      -webkit-transform:translate(-9999px, -9999px);
      opacity: 0;
    }
}