* {
  background-color: transparent !important;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
  color: #ECECEC;
}

body {
  padding: 10px;
  min-height: 100%;
}

html {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.g-container {
  background-color: rgba(0,0,0,0.5);
}

.navbar {
  margin-bottom: 10px;
}

.navbar,
.content-container {
  background-color: rgba(10,10,10,0.6) !important;
  border-color: rgb(40,40,40) !important;
  background-image: none;
}

.navbar-default .navbar-toggle {
  border-color: rgba(230,230,230,0.8) !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(230,230,230,1) !important;
}

.navbar-default .navbar-collapse {
  border-color: lightslategray !important;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none !important;
  color: #F8F8F8 !important;
}

.content-container {
  border-radius: 4px;
  padding: 10px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.navbar-default .navbar-nav>.active>a {
  background-image: none;
  color: rgb(255,255,0) !important;
}

/*
    VOTE PAGE DEFINITIONS
 */

.country-controls button {
  background-image: linear-gradient(to bottom,rgb(30,30,30),rgb(100,100,100) 100%);
  background-color: rgb(100,100,100) !important;
  border-color: rgba(200,200,200, 0.3);
  color: rgb(255,255,255);
  text-shadow: none;
}

.country-controls ul.dropdown-menu {
  background-color: rgba(30,30,30, 0.8) !important;
  width: 250px;
  left: -70px;
}

.country-controls ul.dropdown-menu span.number {
  min-width: 16px;
}

.country-controls ul.dropdown-menu span.number,
.country-controls ul.dropdown-menu span.flag,
.country-controls ul.dropdown-menu span.country {
  float: left;
  margin-right: 4px;
}

.country-controls ul.dropdown-menu .artist-song {
  display: block;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8em;
  margin-top: 2px;
}

.country-controls ul.dropdown-menu li a {
  margin-bottom: 4px;
}

.info {
  margin-top: 1.5em;
}
.vote-controls {
  margin-top: 1em;
}

.info .info-left {
  margin-right: 5px;
  margin-left: 5px;
}

.info .info-left > p {
  font-weight: bold;
}

#vote-number {
  background-color: rgba(230,230,230,0.25) !important;
  height: 12em;
  width: 12em;
  display: inline-block;
  border-radius: 50%;
  margin: 0;
}

.vote-controls #vote {
  font-size: 6em;
  text-shadow: 1px 1px rgb(150,150,150);
  position: relative;
  top: 25px;
}

.vote-controls #vote input {
  width: 120px;
  border: none;
  text-align: center;
}

.info #artist-name {
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255,255,0,1);
}

.info #song-name {
  font-size: 1.2em;
  color: rgba(230,230,0,1);
}

/*
    RESULTS PAGE DEFINITIONS
 */

div.content-container.results > div {
  margin-bottom: 2px;
}

div.content-container.results * {
  font-size: 12px;
}

div.content-container.results #artist-song-name {
  color: rgb(200,200,0);
}

div.content-container.results .place-1 * {
  font-size: 16px;
}

div.content-container.results .place-1 #artist-song-name {
  color: rgb(255,255,0);
}

div.content-container.results .place-2 * {
  font-size: 15px;
}

div.content-container.results .place-2 #artist-song-name {
  color: rgb(235,235,0);
}

div.content-container.results .place-3 * {
  font-size: 13px;
}

div.content-container.results .place-2 #artist-song-name {
  color: rgb(215,215,0);
}

p.place {
  font-weight: bold;
}

.results span.flag {
  margin-right: 6px;
}

.number-of-votes {
  position: relative;
  right: 3px;
  font-weight: bold;
}

#contestant-navi .dropdown-menu {
  z-index: 1001;
}

/*
      LOGIN PAGE DEFINITIOS
 */

.content-container.login button {
  background-image: linear-gradient(to bottom,rgb(30,30,30),rgb(100,100,100) 100%);
  background-color: rgb(100,100,100) !important;
  border-color: rgba(200,200,200, 0.3);
  color: rgb(255,255,255);
  text-shadow: none;
}

.content-container.login .user-logged {
  margin-bottom: 1em;
  text-align: center;
}

.content-container.login .user-logged div.direction-container {
  margin-top: 3em;
  margin-bottom: 2em;
}

.content-container.login .user-logged div.direction-container a {
  font-size: 20px;
  color: rgb(255,255,0);
}

.content-container.login .user-logged div.direction-container a:hover {
  text-decoration: none;
}

.content-container.login .user-logged div.direction-container span {
  color: rgb(235,235,0);
}

.content-container.login .user-logged p {
  margin: 0;
}

.content-container.login .user-logged #user-name {
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin: 0.3em 0 0.3em 0;
}

.content-container.login .logout-container {
  margin-bottom: 1em;
}

.content-container.login .info-user {
  margin: 1em 0 1em 0;
  text-align: center;
}

.content-container.login .info-user * {
  font-size: 18px;
  color: rgb(255,255,0);
}

.content-container.login .create-user .input-group-addon {
  background-color: rgba(150,150,150,0.9) !important;
}

.content-container.login .create-user .form-control {
  background-color: rgba(255,255,255,0.3) !important;
  color: white;
}

div.select-user p.title {
  margin: 1em 0 1em 0;
}

div.select-user > div {
  margin-bottom: 0.7em;
  margin-left: -1px;
}

div.select-user p.name {
  display: inline-block;
  margin-left: 3px;
}

div.select-user div.select-btn-container {
  text-align: right;
}